{% extends "header.html" %}

{% block content %}
<div class="row">
          <div class="col-lg-12">
              {% if error %}
              <div class="alert alert-dismissable alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ error }}
                  </div>
                  {% else %}<div></div>{% endif %}
              </div></div>
<FORM action="/mahasiswa" method="POST" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Login Mahasiswa</h2>
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Masuk</button>
</FORM>
              
{% endblock %}


